{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <center>
            <form class="test" action="/play" method="post">
                <dl>
                    <dt>
                        Choose An Opponent
                    </dt>
                    <dd>
                        <input type="text" name="invitee" placeholder="i.e John" class="customizedInput">
                    </dd>
                </dl>
                <button type="submit" class="customizedInput">Create Game!</button> 
            </form>

        </center>
    </div>
{% endblock %}